<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>favorite quotes</title>
</head>

<body>
    <h1>Hello World</h1>
    {% if quote %}
    <h2> {{ quote}} </h2>  <!--quote is a vatiable defined in *.py file which is set up in .flaskenv variable-->
    {% else %}
    <h2>  No variable quote here...</h2>
    {% endif %}

    <h2> My favorite fruits are: </h2>
    <ul>
        {% for fruit in fruits %}
        <li> {{fruit}} </li>
        {% endfor %}
    </ul>
</body>

</html>